/* Global styling */
body {
  margin: 0;
  font-family: 'Roboto Mono', monospace;
  background-color: #1a1a1a;
  color: #eaeaea;
}

.page-container {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.header {
  padding: 20px;
  background-color: #2c2c2c;
  border-bottom: 1px solid #444;
}

.filter-section {
  padding: 10px;
  background-color: #333;
}

.filter-container {
  display: flex;
  align-items: center;
  gap: 15px;
}

.filter-select,
.filter-datetime {
  background-color: #444;
  color: #eaeaea;
  border: 1px solid #555;
  padding: 10px;
  border-radius: 4px;
  flex-grow: 1;
}

.log-section {
  flex-grow: 1;
  padding: 10px;
}

.log-box {
  background-color: #2c2c2c; 
  border: 1px solid #444;  
  border-radius: 8px;      
  padding: 10px;           
  height: calc(100% - 140px); 
  overflow-y: auto;        
}

.log-container {
  display: flex;
  flex-direction: column; 
  gap: 10px;          
}

.log {
  display: flex;
  gap: 15px;
  padding: 10px;
  border-bottom: 1px solid #333;
  transition: background-color 0.2s;
}

.log:hover {
  background-color: #444; 
}

.log-timestamp {
  min-width: 100px;
  color: #aaa;
}

.log-level {
  font-weight: bold;
  padding: 2px 6px;
  border-radius: 3px;
  text-transform: uppercase;
}

.log-level-info {
  background-color: #17a2b8;
  color: #fff;
}

.log-level-debug {
  background-color: #6f42c1;
  color: #fff;
}

.log-level-error {
  background-color: #dc3545;
  color: #fff;
}

.log-message {
  color: #eaeaea;
  word-wrap: break-word;
}

.no-logs {
  color: #aaa;
  text-align: center;
  margin-top: 20px;
}
.log-box {
  background-color: #2c2c2c; 
  border: 1px solid #444;   
  border-radius: 8px;    
  padding: 10px;          
  max-height: calc(100% - 100px); 
  overflow-y: auto;       
}

.log-container {
  display: flex;
  flex-direction: column; 
  gap: 10px;            
  max-height: 520px;    
  overflow-y: auto;     
}
.filter-container div {
  display: flex;
  flex-direction: column;
}

label {
  margin-bottom: 5px;
  color: #eaeaea; /* Adjust label color */
}
.search-bar {
  background-color: #444;
  color: #eaeaea;
  border: 1px solid #555;
  padding: 10px;
  border-radius: 4px;
  flex-grow: 1;
}

.filter-section {
  padding: 10px;
  background-color: #333;
}

.filter-container {
  display: flex;
  align-items: center;
  justify-content: space-between; /* Aligns items evenly across the container */
  gap: 10px;
}

.filter-dropdown {
  flex: 1; /* Dropdown takes up equal space */
}

.search-container {
  flex:3; /* Search bar takes more space in the center */
 /* text-align: center;  */
}

 .date-filters {
  flex: 1; /* Date filters take equal space */
  display: flex;
  justify-content: space-between;
  } 


.filter-select,
.filter-datetime,
.search-bar {
  background-color: #444;
  color: #eaeaea;
  border: 1px solid #555;
  padding: 10px;
  border-radius: 4px;
  width: 95%; /* Full width for inputs */
}


label {
  margin-bottom: 5px;
  color: #eaeaea; /* Adjust label color */
}
